
.cardheader {
  display: block;
  text-align:center;
  font-size:1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
}



.avatarimg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.ch-name{
  color:#FFFFFF;
  font-weight:blod
}
